.search-bar {
    width: 330px; /* Set the width to 100% minus the space for the button */
    max-width: 400px; /* Set a maximum width if needed */
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin:30px auto;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}


.search-input {
    border: none;
    background: none;
    flex: 1;
    font-size: 16px;
    color: #666;
    outline: none;
    font-family: "Roboto", sans-serif;
}

.ff-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section-title {
    font-size: 20px; /* Increase font size for section titles */
    margin-bottom: 10px; /* Add space between section title and people list */
    font-family: "Roboto", sans-serif;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px; 
    color: #222222;
    margin-bottom: 0px;
    margin-top: 10px;
}

.navbar {
    background-color: white;
    margin-bottom: 0;
    height: 10vh;
}

.friend-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d64d38;
    background-color: rgb(252, 99, 75, 0.5);
    width: 120px;
    justify-content: center;
    border-radius: 30px;
    font-weight: 500;
    height: 40px;
}

.link-icon {
    width: 30px;
}

.friends-subtitle {
    margin-left: 10px;
}


