/* friends.css */
.header-friends {
    background-color: #ebebeb;
    color: #444242;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.title-friends {
    margin-bottom: 10px; /* Remove default margin */
    margin-top: 0;
    color: #252424;
    font-size: 35px;
}

.friends-page {
    background-color: #a3a1a1;
}

.find-friend-btn {
    background-color: #FF5236; /* Button color */
    color: white; /* Button text color */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; /* Add transition for smooth effect */
    letter-spacing: 1px; /* Increase letter spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 500;
}

.find-friend-btn:hover {
    transform: translateY(-3px); /* Move the button 3px up on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow on hover */
}

.find-friend-btn:active {
    filter: brightness(90%); /* Darken the button slightly when pressed */
}


.people-list {
    display: flex;
    flex-direction: column; /* Change to column layout */
    background-color: #ebebeb;
    align-items: center;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Ensure content doesn't overflow the circular shape */
    padding:15px;
}

.profile-image img {
    width: 100%; /* Ensure the image fills the circular container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the entire image is visible within the circular container */
    border-radius: 50%; /* Make sure the image itself is also circular */
}

.divider {
    border: 1px solid #C4C4C4;
    width: 100%;
    margin: 10px 0;
}


.person {
    background-color: white;
    width: 350px;
    border-radius: 20px; /* Add border-radius for curved corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow size */
    margin-bottom: 10px; /* Reduce margin between each person */
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; /* Add transition for smooth effect */
}
.person-info h2 {
    color: #252424; /* Change the color of the names */
}

.person-card-last {
    margin-bottom: 100px;
}

.person:hover {
    transform: translateY(-3px); /* Move the person div 3px up on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Further increase the shadow size on hover */
}

.person:active {
    filter: brightness(90%); /* Darken the person div slightly when pressed */
}

body {
    font-family: "Roboto", sans-serif; /* Apply Roboto Condensed font to all text */
}

.person-info h2 {
    font-family: "Roboto", sans-serif; /* Apply Roboto Condensed font to person names */
    font-weight: 500;
}

.person-info {
    text-decoration: none;
}

.find-friend-btn {
    font-family: "Roboto", sans-serif; /* Apply Roboto Condensed font to the button */
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px; 
    color: #222222;
    margin-bottom: 0px;
    margin-top: 10px;
}

.navbar {
    background-color: white;
    margin-bottom: 0;
    height: 10vh;
}

.friend-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d64d38;
    background-color: rgb(252, 99, 75, 0.5);
    width: 120px;
    justify-content: center;
    border-radius: 30px;
    font-weight: 500;
    height: 40px;
}

.link-icon {
    width: 30px;
}

.friends-subtitle {
    margin-left: 10px;
}
