

/* Container styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/background.png');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    padding: 20px;
    color: #222222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-content {
    background-color: rgb(235, 235, 235, 0.8);
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 600px;
}

.form-section {
    width: 300px;
    display: flex;
}

/* Form styles */
.login-form {
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f3f3f3;
    box-shadow: 5px 10px 15px #afafaf;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

/* Input styles */
.login-input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    /* Add drop shadow to inputs */
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.226);
}

/* Button styles */
.login-button {
    width: 100px;
    padding: 12px;
    background-color: #FF5236; /* Red button color */
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}

.login-button:hover {
    background-color: #FFBD44; /* Orange hover color */
}

/* Media Query for screens smaller than 400px */
@media (max-width: 400px) {
    .login-form {
        width: 90%; /* Adjust width to fit smaller screens */
    }
}

/* Additional styles */
.login-label {
    margin-top: 12px;
    font-weight: bold;
}

.sign-up-link {
    margin-top: 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.sign-up-link a {
    color: #FF5236; /* Red link color */
    text-decoration: none;
    font-weight: bold;
}

.sign-up-link a:hover {
    text-decoration: underline;
}


/* Logo styles */
.login-logo {
    width: 60px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    border-radius: 50%; /* Make it circular */
    margin-right: 10px; /* Add some space between the logo and the text */
}

/* Combine logo and text on the same line */
.login-header {
    display: flex;
    align-items: center;
}

/* Checkmark animation */
@keyframes checkmark {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Apply animation to after pseudo-element */
.login-header::after {
    content: ''; /* Remove the Unicode character */
    background-image: url('./images/Checkmark.svg'); /* Use your custom checkmark icon */
    background-size: cover;
    width: 32px; /* Adjust width and height as needed */
    height: 32px; /* Adjust width and height as needed */
    margin-left: 5px;
    animation: checkmark 0.8s ease forwards; /* Apply animation */
}

.link {
    text-decoration: none;
}
