.filter-btn {
    background-color: #fc634b;
    border: none;
    height: 40px;
    font-weight: bold;
    margin: 20px 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #d4cccc;
    color: #ffecea;
}

.map-header {
    font-family: "Roboto", sans-serif;
    color: #222222;
    width: 400px;
    padding: 20px 0;
}

.filter-section {
    display: flex;
    justify-content: center;
}

.map-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
}

MapContainer {
    height: 100vh;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px; 
    color: #222222;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
}

.navbar {
    background-color: white;
    margin-bottom: 0;
    height: 10vh;
}

.map-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d64d38;
    background-color: rgb(252, 99, 75, 0.5);
    width: 120px;
    justify-content: center;
    border-radius: 30px;
    font-weight: 500;
    height: 40px;
}

.link-icon {
    width: 30px;
}

.map-subtitle {
    margin-left: 10px;
}

