.topSetting {
    padding-top: 10px;
}

.headerSetting {
    margin-top: 35px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #222222;
}

.collapsible {
    background-color: #EDEEF0; /* Set default background color to grey */
    color: #FF5236;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto Mono', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.collapsible.active,
.collapsible:hover {
    background-color: #FF5236; /* Override background color for active or hovered state */
    color: #EDEEF0;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.contentSetting {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #F8F8F8;
    margin-bottom: 10px;
}

.profile-options {
    width: 100%;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    outline: none; 
}

.profile-icon-btn
{
 border: none;
 width: 95px;
 background-color: #F8F8F8;
}


.profile-options img{
    width: 100%; /* Ensure the image fills the circular container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the entire image is visible within the circular container */
    border-radius: 50%; /* Make sure the image itself is also circular */
    
    
}

.profile-icon-btn:hover .image
{
    opacity: 0.3; /* Darken the person div slightly when pressed */
}

.profile-icon-btn:hover .middle
{
    opacity: 0.3; /* Darken the person div slightly when pressed */
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.name-label-input .choose-username-label {
    font-family: 'Roboto', sans-serif; /*this doesnt actually work*/
    color: #222222; 
    text-align: center;
    font-size: 16px;
}


.text-line {
    background-color: transparent;
    color: #222222;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #FFBD44 2px;
    padding: 3px 10px;
}
           


.range-slider {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}


.box-minmax {
    width: 320px; /* Adjusted width */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 5px;
    margin-left: 35px;
    color: #FFBD44; /*end point colour*/
    font-family: 'Roboto', sans-serif;
    span:first-child {
        margin-left: 10px;
    }
}

.rs-range {
    width: 320px; /* Adjusted width */
    margin-top: 45px;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

.rs-range::-webkit-slider-runnable-track {
    width: 300px;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background:#FFBD44; /*background of slider bar*/
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-moz-range-track {
    width: 300px;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #FFBD44;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 30px;
    background: #FFBD44;
    border-radius: 22px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: -15px;
}

.rs-range::-moz-range-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 42px;
    background: #FFBD44;
    border-radius: 22px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: -21px;
}

.rs-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 55px;
    height: 55px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border: transparent;
    margin-top: 20px;
    margin-left: -30px;
    left: attr(value);
    color: #FFBD44;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    &::after {
        content: "km";
        display: block;
        font-size: 15px;
        letter-spacing: 0.07em;
        margin-top: -20px;
        margin-left: 45px;
        font-family: 'Roboto', sans-serif;
        color: #FFBD44;
    }
}



#toggleButton {
    padding: 10px 20px;
    border: none;
    background-color: #FFBD44;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
    border-radius: 10px;
    font-family: 'Roberto', sans-serif;
  }
  
  #toggleButton.checked:after { /*does actually go through this?????*/
    content: "\2713"; 
    margin-right: 5px;
    color: green;
  }
  




.library-container {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    color: #222222;
}

.library-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.library-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 15px;

}

  
  /* When the checkbox is checked, add a blue background */
  .library-container input:checked ~ .library-checkmark {
    background-color: #ffbd44;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .library-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .library-container input:checked ~ .library-checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .library-container .library-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .selection{
    margin-left: 18px;
    margin-top: -5px;
  }
  .selection select {
    width: 100%; /* Set the width to 100% */
    padding: 10px; /* Add padding */
    font-size: 18px; /* Set font size */
    background-color: orange; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
}

.selection select:focus {
    outline: none; /* Remove outline on focus */
}

.location-head{
    font-size: 20px;
    font-family: 'Roboto' sans-serif;
    color: #222222;
}