.topSetting {
    padding-top: 10px;
}

.headerSetting {
    margin-top: 35px;
    margin-left: 20px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 30px;
    color: #222222;
}

.collapsible{
    background-color: #EDEEF0; /* Set default background color to grey */
    color: #FF5236;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.active, .collapsible:hover {
    background-color: #FF5236; /* Override background color for active or hovered state */
    color:#EDEEF0;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.contentSetting {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #F8F8F8;
    margin-bottom: 10px;
}

.profile-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none; /* Remove border still doesnt work????????/*/
    outline: none; /* Remove outline */
}

.profile-icon-btn:active
{

}

.content_paragraph{
    font-family: 'Roboto Mono', sans-serif;
    color: #222222;
    text-align: center;
}

.text-line {
    background-color: transparent;
    color: #222222;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #FFBD44 2px;
    padding: 3px 10px;
}

.slider-container {
    position: relative;
    width: 310px;
    margin:auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFBD44;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFBD44;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.slider-labels span {
    font-size: 12px;
    color: #FF5236;
    font-family: 'Roboto Mono', sans-serif;
}

.slider-value {
    position: absolute;
    top: -20px; /* Adjust this value as needed */
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #FF5236;
    font-family: 'Roboto', sans-serif;
