.header {
    margin-top: 34px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #222222;
}

.collapsible {
    background-color: #EDEEF0; /* Set default background color to grey */
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.active, .collapsible:hover {
    background-color: #FFBD44; /* Override background color for active or hovered state */
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #F8F8F8;
    margin-bottom: 10px;
}
